@model IEnumerable<CrudEscuela.Models.Estudiante>
@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado</h1>

<p>
    <a asp-action="Crear">Crear Nuevo Estudiantes</a>
</p>

@*For Display Estudiante *@
<table class="table table-bordered">
  <thead>
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.Matricula)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Nombre)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Apellido)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Sexo)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Materia)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.Tutor)
          </th>
      </tr>
  </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Matricula">Editar</a>
                <a asp-action="Detalles" asp-route-id="@item.Matricula">Detalles</a>
                <a asp-action="Eliminar" asp-route-id="@item.Matricula">Eliminar</a>

            </td>

        </tr>
        }
    </tbody>
</table>